*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
        
}

nav a{
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1.12em;
    margin-right: 35px;
    font-size: 435;
}




body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
   
     background: rgba(255, 255, 255, 0.2);


}

.name{
    position: flex;
    color: rgb(51, 44, 44);
    padding-left: 0%;
    font-weight: 690;
}

.bar a{
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1.12em;
    margin-right: 35px;
    font-weight: bold;

}
.bar a:hover{
    color: rgb(126, 10, 10);
    transform: scale(0.9);
}

.img-container img{
    border-radius: 12px;
    height: 44vh;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.img-container img:hover{
    transform: scale(0.9);
    
}
.content{
    display: flex;
   flex-direction: column;
   gap: 18px;


}
.content p{
    color: black;
    font-size: 1.12em;
 
    /* text-align: justify; */
    /* overflow: hidden; */
    font-family: 'Times New Roman', Times, serif;
}
.png p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: bold;
     padding: 10px;
    font-size: 1.6em;
}

.border{
    width: fit-content;
    border: 2px solid black;
    color: antiquewhite;
    background-color: black;
    position: column;
    border-radius: 5px;
    justify-content: left;
}
.content h2{
    color: rgb(46, 38, 38);
   
    
    text-align: justify;
    font-weight: 700;

}

.content button{
    padding: 9px 30px 10px;
    background-color: rgb(216, 144, 36);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.);
    font-weight: bold;
}


.content button:hover{
    background-color: orangered;
    transform: scale(1.1);
}

.btn-grp{
    display: flex;
    gap: 15px;
}

main{
    display: flex;

    gap: 30px;
   
}